/* The radiobtn */
.radiobtn {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiobtn input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
}

/* Create a custom radio button */
.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiobtn:hover input ~ .radiomark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiobtn input:checked ~ .radiomark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiomark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiobtn input:checked ~ .radiomark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiobtn .radiomark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}



/* The checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-left: 8px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {

  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}
	  /* Double-sized Checkboxes input[type=checkbox]{}*/

input[type=checkboxtoto]{
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    /* Heres your symbol replacement - this is a tick in Unicode. 
    content: "\2713";*/
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.slidecontainer {
	width: 100px;
	z-index: 20000
}

.slider {
	-webkit-appearance: none;
	width: 100px;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04AA6D;
	cursor: pointer;
}

body {
	position: fixed;
	width: 100%;
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	/*font-size: 15px;*/
	font-size: smaller;
	/*
	font-size: 12px;
  display: block;
  margin: 0px;
  width:500px;
  height:400px;
  overflow: hidden;
  */
/*===========================================*/
	background-color: rgb(150, 150, 150);
	color: white;
	text-align: left;
}

/*
    PILOT
    */
.mv2_select {
	background: rgba(200, 0, 255);
	width: 128px;
	height: 20px;
}

.classTimer {
	width: 58px;
}

.classExec {
	width: 80px;
}

.sel_WORKJOB {
	width: 180px;
}

.classT_i_o {
	background: rgba(200, 0, 255);
	width: 320px;
	height: 20px;
}

.classTA_i_o {
	background: rgba(200, 0, 255);
	width: var(--center-east-width);
	height: var(--center-height);
/*	font-family: "Courier New", Courier, monospace; */
}

.classDebug {
	width: 32px;
	height: 20px;
}

#mv2_pilotJS {
	
}

/*
    JOYSTICK
*/
#JOYSTICK {
	width: 250px;
	height: 250px;
	background: rgba(0, 0, 0, .3);
	margin-left: 25px;
	position: absolute;
	top: 0px;
	left: 5px;
	z-index: 10000;
	margin-left: 0px;
	border-radius: 20px;
}

.mv2_pilotJS {
	width: 250px;
	height: 250px;
	background: rgba(0, 0, 0, .3);
	margin-left: 25px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10000;
	margin-left: 0px;
	border-radius: 20px;
}

#mv2_pilotCursor {
	cursor: pointer;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	margin-left: 1px;
	background: red;
	z-index: 10000;
}

div.examplediv {
	margin-left: 37px;
	margin-top: 37px;
	width: 176px;
	height: 176px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: lightblue;
	/* Rotate div */
	-ms-transform: rotate(45deg); /* IE 9 */
	-webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
	transform: rotate(45deg);
}

#mv2_pilotHreticle {
	width: 250px;
	height: 1px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 0px;
	margin-top: 125px;
	background: red;
	z-index: 10000;
}

#mv2_pilotVreticle {
	width: 1px;
	height: 250px;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left: 125px;
	margin-top: 0px;
	background: red;
}

/*
#log {
	background-color: white;
	position: absolute;
	top: 10px;
	left: 1250px;
	opacity: 0.8;
	width: 750px;
	height: 320px;
	margin: auto;
	border: var(--div-border-px) rgb(40, 40, 40) solid;
	overflow: auto;
}
*/


.checkBtn {
	display: inline-block;
	float: left;
	border: 0;
	width: 75px;
	height: 125px;
	line-height: 1.5;
	padding: 0px 5px 0px 5px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(0, 200, 0, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px
		3px rgba(0, 0, 0, .6);
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.radioBtn {
	display: inline-block;
	float: left;
	border: 0;
	width: 75px;
	height: 125px;
	line-height: 1.5;
	padding: 0px 5px 0px 5px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(0, 0, 200, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px
		3px rgba(0, 0, 0, .6);
}

.little {
	height: 23px;
}

.radioBtn:hover {
	background-color: rgba(0, 0, 255, 1);
}

.radioBtn:active {
	background-color: rgba(128, 200, 255, 1);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px
		3px rgba(0, 0, 0, .6);
}

.Hactive {
	background-color: rgba(128, 200, 255, 1);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px
		3px rgba(0, 0, 0, .6);
}
.checked {
	background-color: rgba( 255,0,0, 1);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px
		3px rgba(0, 0, 0, .6);
}

.bigBtn {
	border: 0;
	width: 60px;
	line-height: 2.5;
	padding: 0px 5px 0px 5px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px
		3px rgba(0, 0, 0, .6);
}

.bigBtn:hover {
	background-color: rgba(255, 0, 0, 1);
}

.bigBtn:active {
	background-color: rgba(0, 255, 0, 1);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px
		3px rgba(0, 0, 0, .6);
}

.Vactive {
	background-color: rgba(0, 255, 0, 1);
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px
		3px rgba(0, 0, 0, .6);
}


.emergencyBtn {
	display: inline-block;
	float: left;
	border: 0;
	width: 60px;
	height: 60px;
	line-height: 1.5;
	padding: 0px 5px 0px 5px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 30px;
	background-color: rgba(255, 255, 0, 1);
	background-image: url("?req=/EMERGENCY.gif");
	/*
	background-image: url("/EMERGENCY.gif");
	background-image: url("?img=/EMERGENCY.gif");
*/
	background-repeat: no-repeat;
	background-position: 3px 3px;
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px
		3px rgba(0, 0, 0, .6);
}

.emergencyBtn:hover {
	background-color: rgba(255, 0, 0, 1);
}

.emergencyBtn:active {
	background-color: rgba(128, 200, 255, 1);
	box-shadow: inset -2px -2px 3px rgba(0, 255, 0, .6), inset 2px 2px 3px
		rgba(0, 0, 0, .6);
}

.IOstatus {
	position: absolute;
	background: rgba(200, 0, 255);
	width: 306px;
	height: 20px;
	color: black;
}

.CTLKMD_container {
}

.verticalScroll{
	  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}
.verticalScroll::-webkit-scrollbar{
  display: none; /* for Chrome, Safari, and Opera */
}
.horizontalScroll{
	  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll; 
}
.horizontalScroll::-webkit-scrollbar{
  display: none; /* for Chrome, Safari, and Opera */
}

/** *********************************************************
 * PSEUDO CLASS MAIN PARAMETERS
	640x360 without taskbar
	640x336 with taskbar

╭────────────────────┬────────────────────────────┬──────╮
│      #FRAME        │           #HEAD            │      │
├────────────────────┼────────────────────────────┤#RESET│  
│                    |                            ├──────┤
│                    |                            │      │
│   .CENTER_ul       |        .CENTER_ur          │      │
│                    |                            │      │
│                 #CENTER                         │      │
│                    |                            │#RIGHT│
│                    |                            │      │
│                    |                            │      │
│                    |                            │      │ 
├────────────────────┴────────────────────────────┤      │
│                  #FOOT                          │      │
╰─────────────────────────────────────────────────┴──────╯
╭────────────────╮╭────────────────╮╭────────────────╮╭────────────────╮
│                ││                ││                ││                │
│      PHONE     ││      r0c1      ││     r0c2       ││     r0c3       │
│                ││                ││                ││                │
╰────────────────╯╰────────────────╯╰────────────────╯╰────────────────╯
╭────────────────╮╭────────────────╮╭────────────────╮╭────────────────╮
│                ││                ││                ││                │
│      r1c0      ││      r1c1      ││     r1c2       ││     r1c2       │
│                ││                ││                ││                │
╰────────────────╯╰────────────────╯╰────────────────╯╰────────────────╯
╭────────────────╮╭────────────────╮╭────────────────╮╭────────────────╮
│                ││                ││                ││                │
│      r2c0      ││      r2c1      ││     r2c2       ││     r2c3       │
│                ││                ││                ││                │
╰────────────────╯╰────────────────╯╰────────────────╯╰────────────────╯
╭────────────────╮╭────────────────╮╭────────────────╮╭────────────────╮
│                ││                ││                ││                │
│      r3c0      ││      r3c1      ││     r3c2       ││     r3c3       │
│                ││                ││                ││                │
╰────────────────╯╰────────────────╯╰────────────────╯╰────────────────╯

 */
:root{
	--screen-height: 360px;
	--screen-width: 640px;

	--taskbar-height: 24px;
	--div-border-px:  0px;

	--frame-height: calc(var(--screen-height) - var(--taskbar-height) - 2*var(--div-border-px));
	--frame-width: calc(var(--screen-width) - 2*var(--div-border-px));

	--head-height:calc(48px - 2*var(--div-border-px));
	--foot-height:calc(24px - 2*var(--div-border-px));
	--center-height: calc(var(--frame-height) - var(--head-height) - var(--foot-height) - 2*var(--div-border-px));

	--right-width: calc(60px - 2*var(--div-border-px));
	--center-width: calc(var(--frame-width) - var(--right-width) - 2*var(--div-border-px));

	--stop-height: calc(60px - 2*var(--div-border-px));
	--stop-width: calc(60px - 2*var(--div-border-px));

	--right-height: calc(var(--frame-height) - var(--stop-height) - 2*var(--div-border-px));



	--center-east-width: 302px;
	--center-west-width: 256px;

	--single-select-height: 30px;


	--r0-top: 0px;
	--r1-top: calc(var(--r0-top) + 5px + var(--frame-height));
	--r2-top: calc(var(--r1-top) + 5px + var(--frame-height));
	--r3-top: calc(var(--r2-top) + 5px + var(--frame-height));

	--c0-left:0px;
	--c1-left:calc(var(--c0-left) + 5px + var(--frame-width));
	--c2-left:calc(var(--c1-left) + 5px + var(--frame-width));
	--c3-left:calc(var(--c2-left) + 5px + var(--frame-width));
}

.fullWindow{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 32000;
}
.mv2_table {
	margin-left: 25px;
	position: absolute;
	top: calc(var(--r1-top));
	left: var(--c2-left);
	top: var(--r1-top);
	left: var(--c2-left);
	z-index: 10000;
	margin-left: 0px;
	color: #444;
}
/************************************************************
 * AREA FRAME GLOBAL OUTER SIZE
 */
#FRAME {
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	width: var(--frame-width);
	height: var(--frame-height);
	margin: auto;
	border: var(--div-border-px) rgb(255, 255, 255) solid;
}
/************************************************************
 * AREA ALERT GLOBAL OUTER SIZE
 */
#ALERT {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 32000;
	width: var(--frame-width);
	height: var(--frame-height);
	margin: auto;
	background-color: rgba(0, 0, 0, 0.1);
}
/************************************************************
 * AREA LOG 
 */
#LOG {
	/*
    position: absolute;
        top:270px;
        left:10px;
*/
	position: absolute;
	top: 0px;
	left: var(--c2-left);
	width: var(--frame-width);
	height: calc(var(--center-height) + var(--head-height));
	z-index: 32000;
	margin-left: 0px;
	background-color: rgba(255,255,255);
}
/************************************************************
 * AREA HEAD 
 */
#HEAD {
	position: absolute;
	top: calc(0px - var(--div-border-px));
	left: 260px;
	opacity: 0.8;
	width: 312px;
	height: var(--head-height);
	margin: auto;
	border: var(--div-border-px) rgb(255, 255, 255) solid;
	z-index: 10000;
}
/************************************************************
 * AREA RESET EMERGENCY
 */
#RESET {
	position: absolute;
	top: 0px;
	left: var(--center-width);
	width: var(--stop-width);
	height: var(--stop-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
/************************************************************
 * AREA RIGHT
 */
#RIGHT {
	overflow-y: scroll;
	position: absolute;
	top: var(--stop-height);
	left: var(--center-width);
	width: var(--right-width);
	height: var(--right-height);
	margin: auto;
	border: var(--div-border-px) rgb(0, 40, 40) solid;
	z-index: 10000;
}
/************************************************************
 * AREA CENTER 
 */
#CENTER {
	position: absolute;
	top: var(--head-height);
	left: 0px;
	/*        opacity: 0.8; */
	width: var(--center-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(0, 0, 255) solid;
	background-image: url("?req=/CENTER.jpg");
	/*
	background-image: url("/CENTER.jpg");
	background-image: url("?img=/CENTER.jpg");
*/
	background-repeat: no-repeat;
	background-position: 265px 0px;
	color: rgb(40, 40, 40);
}
.CENTER_ur {
	top: 0px;
	left: var(--center-west-width);
}
.CENTER_ul {
	top: 0px;
	left: 0px;
}
/************************************************************
 * AREA FOOT 
 */
#FOOT {
	position: absolute;
	top: calc(var(--frame-height) - var(--foot-height));
	left: 0px;
	width: var(--center-width);
	height: var(--foot-height);
	margin: auto;
	border: var(--div-border-px) rgb(0, 40, 40) solid;
	z-index: 10000;
}
/*
	===============	JOB =======================================
*/
.WORKJOB {
	position: absolute;
	opacity: 1;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	background-color: rgba(0, 0, 200, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2),
		rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px
		3px rgba(0, 0, 0, .6);
}
.WORKJOB_default {
	top: var(--r2-top);
	left: calc(var(--c1-left) + var(--center-west-width));
}
.WORKJOB_head {
	position: absolute;
	background: rgba(200, 255,0);
	height: var(--head-height);
	width: var(--center-east-width);
}
.WORKJOB_head_default {
	top: var(--r2-top);
	left: var(--c1-left);
}

#divInfo_WORKJOB {
	overflow-y: scroll;
	scrollbar-width: none;
	height: calc(var(--center-height)- var(--single-select-height));
	width: var(--center-east-width);
	background-color: rgba(200, 0, 200, 1);
}
/*
	===============	IMU =======================================
*/
.IMU {
	position: absolute;
	opacity: 1;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
.IMU_default {
	top: var(--r1-top);
	left: calc(var(--c1-left) + var(--center-west-width));
}
.IMU_head {
	position: absolute;
	background: rgba(200, 0, 255);
	width: var(--center-east-width);
	height: 24px;
}
.IMU_head_default {
	top: var(--r1-top);
	left: var(--c1-left);
}
.IMU_ctrl {
	position: absolute;
	opacity: 1;
	width: var(--center-west-width);
	height: var(--center-height);
	margin: auto;
	background-color: rgba(200, 200, 200, 1);
	z-index:20000;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	top: var(--head-height);
	left: 1px;
}
.IMU_ctrl_default {
	top: calc(var(--r1-top) + var(--head-height));
	left: var(--c1-left);
}
/*
	===============	MOT =======================================
*/
.MOTORS {
	position: absolute;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	background-color: rgba(200, 200, 200);
}
.MOTORS_default {
	top: var(--r2-top);
	left: calc(var(--c2-left) + var(--center-west-width));
}
/*
	===============	M3D =======================================
*/
.M3D {
	position: absolute;
	opacity: 1;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	z-index: 20;
	top: calc(var(--head-height));
	left: 267px;
}
.M3D_default {
	top: calc(var(--r0-top) + var(--head-height));
	left: calc(var(--c1-left) + var(--center-west-width));
}
.M3D_head {
	position: absolute;
	background: rgba(200, 0, 255);
	width: var(--center-east-width);
	height: 24px;
}
.M3D_head_default {
	top: var(--r0-top);
	left: var(--c1-left);
}
.M3D_ctrl {
	position: absolute;
	opacity: 1;
	width: var(--center-west-width);
	height: var(--center-height);
	margin: auto;
	background-color: rgba(200, 200, 200, 1);
	z-index:20000;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
.M3D_ctrl_default {
	top: var(--r0-top);
	left: var(--c1-left);
}
	/*
	height: 236px; overflow-y: auto; overflow-x: hidden; direction: rtl;scrollbar-color: rebeccapurple green;scrollbar-width: thin;
	*/
.CTRL_title{
  height:  calc(100% - var(--single-select-height));

}
/*
	===============	ATT =======================================
*/
.ATT {
	position: absolute;
	opacity: 1;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	background-color: azure;
	color: blue;
	font-family: "Courier New", Courier, monospace;

}
.ATT_default {
	top: var(--r1-top);
	left: calc(var(--c0-left) + var(--center-west-width));
}
.ATT_head {
	position: absolute;
	background: rgba(200, 0, 255);
	width: var(--center-east-width);
	height: 24px;
}
.ATT_head_default {
	top: var(--r1-top);
	left: var(--c0-left);
}
.ATT_ctrl {
	position: absolute;
	opacity: 1;
	width: var(--center-west-width);
	height: var(--center-height);
	margin: auto;
	background-color: rgba(200, 200, 200, 1);
	z-index:20000;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
.ATT_ctrl_default {
	top: var(--r1-top);
	left: var(--c0-left);
}
/*
	===============	SYS =======================================
*/
.SYS {
	position: absolute;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
	color: white;
	background-color: rgba(0, 0, 0);
}
.SYS_default {
	top: var(--r3-top);
	left: calc(var(--c2-left) + var(--center-west-width));
}
.SYS_head {
	position: absolute;
	background: rgba(200, 0, 255);
	width: var(--center-east-width);
}
.SYS_head_default {
	top: var(--r3-top);
	left: var(--c2-left);
}
.SYS_ctrl {
	position: absolute;
	opacity: 1;
	width: var(--center-west-width);
	height: var(--center-height);
	margin: auto;
	background-color: rgba(200, 200, 200, 1);
	z-index:20000;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
.SYS_ctrl_default {
	top: var(--r3-top);
	left: var(--c2-left);
}
/*
	===============	MAP =======================================
*/
.MAP {
	position: absolute;
	opacity: 1;
	width: var(--center-east-width);
	height: var(--center-height);
	margin: auto;
	border: var(--div-border-px) rgb(240, 40, 40) solid;
}
.MAP_default {
	top: var(--r2-top);
	left: calc(var(--c0-left) + var(--center-west-width));
}
/*
	---------------	UTL ---------------------------------------
*/
.line {
	font-family: "Courier New", Courier, monospace;
	border-bottom: 1px rgb(80, 80, 80) solid;
	padding: 4px;
	text-align: left;
	color: rgb(40, 40, 40);
}
/*
	///////////////////////////////////////////////////////////
*/
